<!-- app.component.html -->
<div class="container">
  <h1>Carregar uma Imagem</h1>
  
  <input 
    type="file" 
    (change)="onFileSelected($event)" 
    accept="image/*" 
    class="file-input"
  />
  
  <div class="button-container" *ngIf="imageSrc">
    <button (click)="applyBlur()" class="btn">Aplicar Blur</button>
    <button (click)="applySharpening()" class="btn">Aplicar Sharpening</button>
    <button (click)="rotateImage()" class="btn">Rotacionar 45°</button>
  </div>
  
  <div class="image-container" *ngIf="imageSrc">
    <img [src]="imageSrc" alt="Imagem carregada" [style.filter]="imageFilter" [style.transform]="imageRotation" class="image" />
  </div>
  <svg height="0" width="0" style="position:absolute">
    <filter id="sharpeningFilter">
      <feConvolveMatrix 
        order="3" 
        kernelMatrix="0 -1 0 -1 5 -1 0 -1 0" 
        />
    </filter>
  </svg>
</div>
